package components

templ Layout() {
    <!DOCTYPE html>
    <html>
        <head>
            <title>D&D Adventure Generator</title>
            <script src="https://unpkg.com/htmx.org@1.9.10"></script>
            <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
            <link rel="stylesheet" href="/static/styles.css"/>
        </head>
        <body>
            { children... }
        </body>
    </html>
}