package components

import "fmt"

// srv/components/generator.templ
templ GenerationStatus(sessionID string) {
	if sessionID != "" {
		<div
			id="generation-output"
			class="generation-status"
			data-session-id={ sessionID }
			hx-ext="ws"
			ws-connect={ fmt.Sprintf("/ws/%s", sessionID) }
		>
			<div id="message-container" class="message-output">
				<div class="loading">Connecting to server...</div>
			</div>
			@messageStyles()
			@messageHandling()
			@messageStatus()
		</div>
	}
}
